# Logs
npm-debug.log*
yarn-error.log*
lerna-debug.log*

# Build output
build/
dist/
lib/
esm/
es6/

# Dependencies
node_modules/

# Documentation artifacts
docs/_site/
docs/.jekyll-metadata
docs/.jekyll-cache
packages/react-admin/docs
